//import all arccorp vars
@use "~arccorp-vars/src/scss/main";

@import "./partials/accordion";

//page styles
.arc-fraud-schemes {
  color: main.$tarmac;
  width: 100%;
}

.arc-fraud-schemes {
  .container {
    z-index: 0;
    position: relative;
  }
}

.arc-fraud-top {
  margin-top: 60px;
}

 .parentLink {
  font-size: 18px;
  line-height: 23px;
}
.parentLink {
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}